.menu-dropdown {
    position: absolute;
    background: $lightGrey;
    left: 185px;
    top: 73px;
    width: 158px;
    height: 118px;

    li {
        margin-bottom: 10px;
    }

    .dropdown-link {
        text-decoration: none;
        color: #000;
        cursor: pointer;

        &:hover {
            color: #F23E3E;
            font-style: italic;
            font-weight: 500;
        }
    }
}