.header-container {
    background-color: #F4F4F4;
    color: #000;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 10px;
    text-align: center;

    .title-menu {
        display: flex;
        justify-content: flex-start;
        margin: 30px 0 0 30px;
        text-align: left;

        .fa-grip-lines {
            font-size: 2em;
            -webkit-text-stroke: 2px $lightGrey;

            &:hover, &:focus {
                font-size: 2.3em;
                color: #080294;
            }
        }

        button {
            border: none;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            background: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }

    h1 {
        font-size: 1.1em;
        font-weight: 600;
        margin: 4px 30px 0 0;
    }
}