.instructions-container {
    position: absolute;
    left: 180px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    h3 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    p {
        font-size: .8em;
        font-weight: 700;
    }
}