.instructions-container {
    background: white;
    height: 180px;
    width: 500px;
    padding: 44px;
    position: absolute;
    left: 185px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    h3 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    p {
        font-size: .8em;
        font-weight: 700;
    }
}