.main-instructions {
    background-color: $lightGrey;
    background-image: url('../images/computer.jpeg');
    background-size: cover;
    text-align: left;
    padding: 150px;
    height: 1000px;
}