.results-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.results-container {
    display: flex;
    justify-content: center;
    margin: 40px 170px;
}

.incorrect-container {
    p {
        margin-bottom: 20px;
    }

    h4 {
        margin-bottom: 20px;
    }
}