$lightGrey: #F4F4F4;
$lavender: #eb8bff;
$mainFont: 'Encode Sans Condensed', sans-serif;

@mixin btn-style($btnColor) {
    -moz-box-shadow: 0px 10px 14px -7px $btnColor;
	-webkit-box-shadow: 0px 10px 14px -7px $btnColor;
	box-shadow: 0px 10px 14px -7px $btnColor;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-webkit-linear-gradient(top, #020d11 5%, #020d11 100%);
	background-color:#020d11;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    letter-spacing: 1.5px;
    font-family: 'Encode Sans Condensed', sans-serif;
	font-size:1em;
    font-weight:500;
    outline: none;
	padding:4px 18px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;

    &:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background:-webkit-linear-gradient(top, gray 5%, gray 100%);
        background-color:#000;
    }

    &:active {
        position: relative;
	    top: 1px;
    }
}